<div id="<%= dom_id purchase %>">
  <p>
    <strong>From:</strong>
    <%= purchase.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= purchase.to %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= purchase.book.title %>
  </p>

</div>
