<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
  <p>
    <strong>Title:</strong>
    <%= link_to book.title, book %>
  </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
<p>
<%= link_to "Home", root_path %>